<% $current_page = 'Homepage' %>
<html>
<% @strings_to_leak.each { |string_to_leak| -%>
  <!-- <%= string_to_leak %> -->
<%} -%>

<%= scope.function_template(['parameterised_website/subtemplates/header.html.erb']) %>
<body>
  <%= scope.function_template(['parameterised_website/subtemplates/navbar.html.erb']) %>
  <%= scope.function_template(['parameterised_website/subtemplates/main_container.html.erb']) %>
  <%= scope.function_template(['parameterised_website/subtemplates/scripts.html.erb']) %>
  <%= scope.function_template(['parameterised_website/subtemplates/scripts.html.erb']) %>
</body>
</html>