<div id="main_container" class="container">
  <div class="row">
    <div class="main_page_content">
      <% # Intranet style -%>
      <% if @security_audit or @acceptable_use_policy -%>
          <p class="lead">Welcome to the internal intranet server for <%=@business_name%>.</p>
        <% if @security_audit -%>
          <p>Find your Security Audit Remit <a href="security_audit_remit.html">here</a>.</p>
        <% end -%>
        <% if @acceptable_use_policy -%>
          <p>Find the Acceptable Use Policy <a href="acceptable_use_policy.html">here</a>.</p>
        <% end -%>
      <% # Externally input / default style -%>
      <% else -%>
          <h1><%= @business_name %></h1>
          <h2><%= @product_name %></h2>
          <p><%= @main_page_paragraph_content.join %></p>
      <% end -%>
      <br/>
      <% @images_to_leak.each_with_index{ |image_to_leak, counter| -%>
          <img src="image<%=counter + 1 %>.png" height="128" width="128">
      <%} -%>
    </div>
  </div>
</div>