<div id="main_container" class="container">
  <div class="row">
    <div class="main_page_content">
      <h1><strong>Acceptable Use Policy</strong></h1>
      <h1 id="overview">Overview</h1>
      <p>Internet/Intranet/Extranet-related systems, including but not limited to computer equipment, software,
        operating
        systems, storage media, network accounts providing electronic mail, WWW browsing, and FTP, are the property of
        <%= @business_name %>. These systems are to be used for business purposes in serving the interests of the
        company, and of our
        clients and customers in the course of normal operations. Please review Human Resources policies for further
        details.</p>
      <p>Effective security is a team effort involving the participation and support of every <%= @business_name %>
        employee and
        affiliate who deals with information and/or information systems. It is the responsibility of every computer user
        to
        know these guidelines, and to conduct their activities accordingly.</p>
      <h1 id="purpose">Purpose</h1>
      <p>The purpose of this policy is to outline the acceptable use of computer equipment at <%= @business_name %>.
        These rules are in
        place to protect the employee and <%= @business_name %>. Inappropriate use exposes <%= @business_name %> to
        risks including virus attacks,
        compromise of network systems and services, and legal issues.</p>
      <h1 id="scope">Scope</h1>
      <p>This policy applies to the use of information, electronic and computing devices, and network resources to
        conduct
        <%= @business_name %> business or interact with internal networks and business systems, whether owned or leased
        by <%= @business_name %>,
        the employee, or a third party. All employees, contractors, consultants, temporary, and other workers
        at <%= @business_name %>
        and its subsidiaries are responsible for exercising good judgment regarding appropriate use of information,
        electronic devices, and network resources in accordance with <%= @business_name %> policies and standards, and
        local laws and
        regulation. Exceptions to this policy are documented in section 5.2</p>
      <p>This policy applies to employees, contractors, consultants, temporaries, and other workers
        at <%= @business_name %>, including
        all personnel affiliated with third parties. This policy applies to all equipment that is owned or leased by
        Bednar
        Inc.</p>
      <ol style="list-style-type: decimal">
        <li><p>Policy ======</p>
          <ol style="list-style-type: decimal">
            <li><p>General Use and Ownership --------------------------</p>
              <ol style="list-style-type: decimal">
                <li><p><%= @business_name %> proprietary information stored on electronic and computing devices whether
                  owned
                  or leased by <%= @business_name %>, the employee or a third party, remains the sole property
                  of <%= @business_name %>.
                  You must ensure through legal or technical means that proprietary information is protected in
                  accordance with the <em>Data Protection Standard.</em>
                  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                </p></li>
                <li><p>You have a responsibility to promptly report the theft, loss or unauthorized disclosure of
                  <%= @business_name %> proprietary information.
                  ----------------------------------------------------------------------------------------------------------------------------------------</p>
                </li>
                <li>
                  <p>You may access, use or share <%= @business_name %> proprietary information only to the extent it is
                    authorized and necessary to fulfill your assigned job duties.
                    ----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                </li>
                <li><p>Employees are responsible for exercising good judgment regarding the reasonableness of
                  personal use. Individual departments are responsible for creating guidelines concerning personal
                  use of Internet/Intranet/Extranet systems. In the absence of such policies, employees should be
                  guided by departmental policies on personal use, and if there is any uncertainty, employees
                  should consult their supervisor or manager.
                  --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                </li>
                <li>
                  <p>For security and network maintenance purposes, authorized individuals within <%= @business_name %>
                    may
                    monitor equipment, systems and network traffic at any time, per Infosec&rsquo;s <em>Audit Policy</em>.
                    ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                  </p></li>
                <li><p><%= @business_name %> reserves the right to audit networks and systems on a periodic basis to
                  ensure
                  compliance with this policy.
                  ---------------------------------------------------------------------------------------------------------------------------------</p>
                </li>
              </ol>
            </li>
            <li><p><strong>Security and Proprietary Information</strong></p>
              <ol style="list-style-type: decimal">
                <li><p>All mobile and computing devices that connect to the internal network must comply with the
                  <em>Minimum Access Policy</em>.</p></li>
                <li><p>System level and user level passwords must comply with the <em>Password Policy</em>.
                  Providing access to another individual, either deliberately or through failure to secure its
                  access, is prohibited.</p></li>
                <li><p>All computing devices must be secured with a password-protected screensaver with the
                  automatic activation feature set to 10 minutes or less. You must lock the screen or log off when
                  the device is unattended.</p></li>
                <li><p>Postings by employees from a <%= @business_name %> email address to newsgroups should contain a
                  disclaimer stating that the opinions expressed are strictly their own and not necessarily those
                  of <%= @business_name %>, unless posting is in the course of business duties.</p></li>
                <li><p>Employees must use extreme caution when opening e-mail attachments received from unknown
                  senders, which may contain malware.</p></li>
              </ol>
            </li>
            <li><p><strong>Unacceptable Use</strong></p></li>
          </ol>
        </li>
      </ol>
      <p>The following activities are, in general, prohibited. Employees may be exempted from these restrictions during
        the
        course of their legitimate job responsibilities (e.g., systems administration staff may have a need to disable
        the
        network access of a host if that host is disrupting production services).</p>
      <p>Under no circumstances is an employee of <%= @business_name %> authorized to engage in any activity that is
        illegal under local,
        state, federal or international law while utilizing <%= @business_name %>-owned resources.</p>
      <p>The lists below are by no means exhaustive, but attempt to provide a framework for activities which fall into
        the
        category of unacceptable use.</p>
      <ol style="list-style-type: decimal">
        <li>System and Network Activities</li>
      </ol>
      <p>The following activities are strictly prohibited, with no exceptions:</p>
      <ol style="list-style-type: decimal">
        <li><p>Violations of the rights of any person or company protected by copyright, trade secret, patent or other
          intellectual property, or similar laws or regulations, including, but not limited to, the installation or
          distribution of &quot;pirated&quot; or other software products that are not appropriately licensed for use by
          <%= @business_name %>.</p></li>
        <li><p>Unauthorized copying of copyrighted material including, but not limited to, digitization and distribution
          of
          photographs from magazines, books or other copyrighted sources, copyrighted music, and the installation of any
          copyrighted software for which <%= @business_name %> or the end user does not have an active license is
          strictly
          prohibited.</p></li>
        <li><p>Accessing data, a server or an account for any purpose other than conducting <%= @business_name %>
          business, even if you
          have authorized access, is prohibited.</p></li>
        <li>
          <p>Exporting software, technical information, encryption software or technology, in violation of international
            or regional export control laws, is illegal. The appropriate management should be consulted prior to export
            of
            any material that is in question.</p></li>
        <li>
          <p>Introduction of malicious programs into the network or server (e.g., viruses, worms, Trojan horses, e-mail
            bombs, etc.).</p></li>
        <li><p>Revealing your account password to others or allowing use of your account by others. This includes family
          and
          other household members when work is being done at home.</p></li>
        <li>
          <p>Using a <%= @business_name %> computing asset to actively engage in procuring or transmitting material that
            is in
            violation of sexual harassment or hostile workplace laws in the user&rsquo;s local jurisdiction.</p></li>
        <li><p>Making fraudulent offers of products, items, or services originating from any <%= @business_name %>
          account.</p></li>
        <li><p>Making statements about warranty, expressly or implied, unless it is a part of normal job duties.</p>
        </li>
        <li>
          <p>Effecting security breaches or disruptions of network communication. Security breaches include, but are not
            limited to, accessing data of which the employee is not an intended recipient or logging into a server or
            account that the employee is not expressly authorized to access, unless these duties are within the scope of
            regular duties. For purposes of this section, &quot;disruption&quot; includes, but is not limited to,
            network
            sniffing, pinged floods, packet spoofing, denial of service, and forged routing information for malicious
            purposes.</p></li>
        <li><p>Port scanning or security scanning is expressly prohibited unless prior notification to Infosec is
          made.</p>
        </li>
        <li><p>Executing any form of network monitoring which will intercept data not intended for the employee&rsquo;s host,
          unless this activity is a part of the employee&rsquo;s normal job/duty.</p></li>
        <li><p>Circumventing user authentication or security of any host, network or account.</p></li>
        <li><p>Introducing honeypots, honeynets, or similar technology on the <%= @business_name %> network.</p></li>
        <li><p>Interfering with or denying service to any user other than the employee&rsquo;s host (for example, denial of
          service attack).</p></li>
        <li><p>Using any program/script/command, or sending messages of any kind, with the intent to interfere with, or
          disable, a user&rsquo;s terminal session, via any means, locally or via the Internet/Intranet/Extranet.</p></li>
        <li><p>Providing information about, or lists of, <%= @business_name %> employees to parties
          outside <%= @business_name %>.</p>
          <ol style="list-style-type: decimal">
            <li>Email and Communication Activities</li>
          </ol>
        </li>
      </ol>
      <p>When using company resources to access and use the Internet, users must realize they represent the company.
        Whenever
        employees state an affiliation to the company, they must also clearly indicate that &quot;the opinions expressed
        are
        my own and not necessarily those of the company&quot;. Questions may be addressed to the IT Department</p>
      <ol style="list-style-type: decimal">
        <li><p>Sending unsolicited email messages, including the sending of &quot;junk mail&quot; or other advertising
          material to individuals who did not specifically request such material (email spam).</p></li>
        <li><p>Any form of harassment via email, telephone or paging, whether through language, frequency, or size of
          messages.</p></li>
        <li><p>Unauthorized use, or forging, of email header information.</p></li>
        <li>
          <p>Solicitation of email for any other email address, other than that of the poster&rsquo;s account, with the intent
            to harass or to collect replies.</p></li>
        <li>
          <p>Creating or forwarding &quot;chain letters&quot;, &quot;Ponzi&quot; or other &quot;pyramid&quot; schemes of
            any type.</p></li>
        <li><p>Use of unsolicited email originating from within <%= @business_name %>&rsquo;s networks of other
          Internet/Intranet/Extranet
          service providers on behalf of, or to advertise, any service hosted by <%= @business_name %> or connected
          via <%= @business_name %>&rsquo;s
          network.</p></li>
        <li>
          <p>Posting the same or similar non-business-related messages to large numbers of Usenet newsgroups (newsgroup
            spam).</p>
          <ol style="list-style-type: decimal">
            <li>Blogging and Social Media</li>
          </ol>
        </li>
      </ol>
      <!-- -->

      <ol style="list-style-type: decimal">
        <li>
          <p>Blogging by employees, whether using <%= @business_name %>’s property &gt; and systems or personal computer
            systems, is
            also subject to the &gt; terms and restrictions set forth in this Policy. Limited and &gt; occasional use of
            <%= @business_name %>’s systems to engage in &gt; blogging is acceptable, provided that it is done in a
            professional &gt;
            and responsible manner, does not otherwise violate &gt; <%= @business_name %>’s policy, is not detrimental
            to <%= @business_name %>’s
            &gt; best interests, and does not interfere with an employee&rsquo;s regular &gt; work duties. Blogging from
            Bednar
            Inc’s systems is also &gt; subject to monitoring.</p></li>
        <li><p><%= @business_name %>’s Confidential Information policy also applies &gt; to blogging. As such, Employees
          are prohibited
          from revealing any &gt; <%= @business_name %> confidential or proprietary information, trade &gt; secrets or
          any other
          material covered by <%= @business_name %>’s &gt; Confidential Information policy when engaged in blogging.</p>
        </li>
        <li><p>Employees shall not engage in any blogging that may harm or tarnish &gt; the image, reputation and/or
          goodwill of <%= @business_name %> &gt; and/or any of its employees. Employees are also prohibited from &gt;
          making any
          discriminatory, disparaging, defamatory or harassing &gt; comments when blogging or otherwise engaging in any
          conduct &gt; prohibited by <%= @business_name %>’s <em>Non-Discrimination and &gt; Anti-Harassment</em>
          policy.</p></li>
        <li><p>Employees may also not attribute personal statements, opinions or &gt; beliefs to <%= @business_name %>
          when engaged in
          blogging. If an &gt; employee is expressing his or her beliefs and/or opinions in &gt; blogs, the employee may
          not, expressly or implicitly, represent &gt; themselves as an employee or representative
          of &gt; <%= @business_name %>.
          Employees assume any and all risk associated &gt; with blogging.</p></li>
        <li><p>Apart from following all laws pertaining to the handling and &gt; disclosure of copyrighted or export
          controlled materials, &gt; <%= @business_name %>’s trademarks, logos and any other <%= @business_name %> &gt;
          intellectual property
          may also not be used in connection &gt; with any blogging activity</p></li>
      </ol>
      <!-- -->

      <ol style="list-style-type: decimal">
        <li><p>Policy Compliance =================</p>
          <ol style="list-style-type: decimal">
            <li><p>Compliance Measurement</p>
              <p>The Infosec team will verify compliance to this policy through various methods, including but not
                limited to, business tool reports, internal and external audits, and feedback to the policy
                owner.</p></li>
            <li><p>Exceptions ==========</p>
              <p>Any exception to the policy must be approved by the Infosec team in advance.</p></li>
            <li><p>Non-Compliance ==============</p>
              <p>An employee found to have violated this policy may be subject to disciplinary action, up to and
                including termination of employment.</p></li>
          </ol>
        </li>
        <li><p>Related Standards, Policies and Processes =========================================</p></li>
      </ol>
      <ul>
        <li><p>Data Classification Policy</p></li>
        <li><p>Data Protection Standard</p></li>
        <li><p>Social Media Policy</p></li>
        <li><p>Minimum Access Policy</p></li>
        <li><p>Password Policy</p></li>
      </ul>
      <h1 id="definitions-and-terms">Definitions and Terms</h1>
      <p>The following definition and terms can be found in the SANS Glossary located at:</p>
      <p>https://www.sans.org/security-resources/glossary-of-terms/</p>
      <ul>
        <li><p>Blogging</p></li>
        <li><p>Honeypot</p></li>
        <li><p>Honeynet</p></li>
        <li><p>Proprietary Information</p></li>
        <li><p>Spam</p></li>
      </ul>
    </div>
  </div>
</div>